	<!-- body.tmpl : begin !-->
	<center> 
	<h2> 
	  {0} 
	</h2> 
	<h3> 
	   {1}
	</h3> 
	<h3> 
	  {2} 
	</h3> 
	<B> 
	  {3} 
	</B> 
	<p><p> 
	<hr WIDTH="100%"> 
	<p><p> 

	<!-- PICTURE SECTION : begin -->
{4}
	<!-- PICTURE SECTION : end -->


	<p>
	<hr WIDTH="100%">
	</center>
	<!-- body.tmpl : end !-->

