<!-- CONTENT !-->
<center> 
<h2> 
  Tobacco Road Marathon  
</h2> 
<h3> 
   March 2011
</h3> 
<h3> 
  Cary, NC 
</h3> 
<B> 
  I ran my first marathon. 
</B> 
<p><p> 
<hr WIDTH="100%"> 
<p><p> 
<p> <a href="finish.jpg"> <img SRC="finish_med.jpg"> </a> 
<p>   So thrilled to have finished. 
 <hr>
<p> <a href="photo-2.jpg"> <img SRC="photo-2_med.jpg"> </a> 
<p>   John finally crossing mile 21. 
 <hr>
<p> <a href="photo-3.jpg"> <img SRC="photo-3_med.jpg"> </a> 
<p>   Taylor Candy and John Blake waiting for me at mile 21. 
 <hr>

<p>
<hr WIDTH="100%">
</center>

