



    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
		However, it seems JavaScript is either disabled or not supported by your browser. 
		To view Google Maps, enable JavaScript by changing your browser options, and then 
		try again.
    </noscript>
    <center>
		<div id="ft_mapSat">
			<p> Following map shows locations where the pictures were taken.</p>
		</div>
	   <div id="mapSat" style="width: 800px; height: 640px"></div>
	</center>
    
    <center>
   		<div id="ft_mapRoad">
   			<p> Following maps shows the route travelled.</p>
        </div>
	    <div id="mapRoad" style="width: 800px; height: 640px"></div>
	</center>

 
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"
            type="text/javascript"></script>

{0}
    
{1}