
<!-- start: MAP -->

	<center>
		<div id="ft_map">
			<p>If any of the above pictures have been geotagged, then you should see pushpins marking the locations on the following map.  Note, you may need to zoom out or recenter to see the pushpins.</p>
		</div>

	   <div id="map" style="width: 550px; height: 450px"></div>
	</center>


    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
		However, it seems JavaScript is either disabled or not supported by your browser. 
		To view Google Maps, enable JavaScript by changing your browser options, and then 
		try again.
    </noscript>
 

     <script src="//maps.googleapis.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
            
        
        <script type="text/javascript">
        function initialize() {{
            var map = new google.maps.Map(
                document.getElementById('map'), {{
                center: new google.maps.LatLng({1},{2}),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }});

            <!-- start: pushpins -->				
		  
{0}

			<!-- end: pushpins -->
        }}
        google.maps.event.addDomListener(window, 'load', initialize);
     </script>
	
<!-- end: MAP -->
