            // {0} map entry - START
            var contentString{0} = '{3} <p><img SRC="./{0}_thumb.JPG"></p>';
            var position{0} = new google.maps.LatLng({1},{2});
            bounds.extend(position{0});
            
            var infowindow{0} = new google.maps.InfoWindow({{
                content: contentString{0}
            }});

            var marker{0} = new google.maps.Marker({{
                position: position{0},
                title: '{3}',
                map: map
            }});

            google.maps.event.addListener(marker{0}, 'click', function() {{
                infowindow{0}.open(map,marker{0});
            }});
            // {0} map entry - END

