            // {0} map entry - START
            var contentString{5} = '{4} <p><img SRC="./{5}_thumb.JPG"></p>';
            var position{5} = new google.maps.LatLng({2},{3});
            bounds.extend(position{5});
            
            var infowindow{5} = new google.maps.InfoWindow({{
                content: contentString{5}
            }});

            var marker{5} = new google.maps.Marker({{
                position: position{5},
                title: '{4}',
                map: map
            }});

            google.maps.event.addListener(marker{5}, 'click', function() {{
                infowindow{5}.open(map,marker{5});
            }});
            // {0} map entry - END

