					// begin map entry  for {0}
					var point = new GLatLng({2},{3});  
					var marker = createMarker(point, '{4} <br><a href="{0}"><img src="{1}" width= 90 height= 120> <\/a>') 
					map.addOverlay(marker);  			  
					// end map entry  for {0}