
            // {0} route entry - START
            var kmlFileUrl{0} = location.href + '/{1}';
            var kmzLayer{0} = new google.maps.KmlLayer(kmlFileUrl{0});
            kmzLayer{0}.setMap(map);
            // {0} route entry - END

