            <!-- 0 -  title -->
            <!-- 1 -  description -->            
            <!-- 2 -  url -->
            <div class="mySideMenuItem"><span title="{1}"><a href="./{2}">{0}</a></span></div>